.header {
  height: 150px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  border-radius: 16px;
  color: aliceblue;
  
}

p {
  padding-right: 10%;
}

h1 {
  margin-left: 10px;
}

.clock {
  color: #ffe9d3;
  display: flex;
  justify-content: center;
  width: 5%;
  margin: 5rem 0rem 0rem 39rem;
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(200deg, #2f288d6c 20%, #ee4949d8 70%);
  -webkit-filter: drop-shadow(5px 5px 50px #2f288d41);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(7.3px);
}

img {
  -webkit-filter: drop-shadow(5px 5px 10px rgb(14, 17, 63));
  margin-top: 5rem;
  width: 180px;
  height: 180px;
}
