.header {
  height: 200px;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  background-color: transparent;
  border-radius: 16px;
  color: aliceblue;
  
}

p {
  padding-right: 10%;
}

h1 {
  margin-left: 10px;
}

.clock {
  text-align: center;
  color: #ffe9d3;
  display: flex;
  justify-content: center;
  width: 10%;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(
    270deg,
    #2f288d41,
    rgba(143, 21, 0, 0.137),
    #ff555580);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.37);
}

img {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(14, 17, 63, 0.466));
  padding-bottom: 3rem;
  padding-top: 3rem;
  width: 170px;
  height: 170px;
}
