.footer {
    justify-content: center;
    color: white;
    font-weight: 500;
    font-size: 15px;
    padding-top: 10px;
    height: 5%;
    position: fixed;
    bottom: 0;
    background: linear-gradient(to top, rgba(255, 238, 223, 0.603), transparent);
}