.container {
  width: 75%;
  margin: auto;
}
.home {
  margin-top: 1.5rem;
}
.home button {
  margin: auto;
  width: 100%;
}

.content {
  width: 100%;
}

.new-task {
  width: 100%;
  margin-top: 1rem;
}

mat-card {
  margin-top: 0.8rem;
  padding: 0.2rem;
}

h1 {
    margin-top: 1.5rem;
    text-align: center;
}

p {
  text-align: end;
  font-weight: 300;
  color: rgb(114, 111, 111);
  margin-bottom: 0;
}

.actions {
  text-align: end;
}

.actions button {
  margin: 0.5rem;
}
