<div class="container ">
  <button class="new-task mat-elevation-z8" mat-stroked-button color="primary">
    New Task
  </button>

  <div class="content mat-elevation-z8">
    <mat-card class="example-card">
      <p>Data para finalizar:</p>
      <mat-card-header>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>

      <div class="actions">
        <button mat-mini-fab color="primary">
          <mat-icon>done</mat-icon>
        </button>
        <button mat-mini-fab color="accent">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>
