<div class="container">
  <button
    class="finished-tasks mat-elevation-z8"
    (click)="navigateToFinishedTasks()"
    matBadge="{{ closed }}"
  >
    Finished Tasks
  </button>
  <div class="new-task-container">
    <mat-card class="example-card mat-elevation-z8">
      <mat-form-field class="date-to-finish" appearance="fill">
        <mat-label>Insert a date</mat-label>
        <input
          [(ngModel)]="todo.dateToFinishTask"
          name="todo.dateToFinishTask"
          matInput
          #datepickerInput
          [matDatepicker]="dp3"
          disabled
        />
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
      </mat-form-field>

      <div class="forms">
        <mat-form-field class="form-title" appearance="fill">
          <mat-label>Title</mat-label>
          <input
            [(ngModel)]="todo.title"
            name="todo.title"
            type="text"
            matInput
          />
        </mat-form-field>

        <mat-form-field class="form-description" appearance="fill">
          <mat-label>Description</mat-label>
          <input
            [(ngModel)]="todo.description"
            name="todo.description"
            type="text"
            matInput
          />
        </mat-form-field>
      </div>
      <div class="buttons">
        <button (click)="create()" mat-stroked-button color="primary">
          Create
        </button>
        <button
          (click)="clear()"
          (click)="datepickerInput.value = ''"
          mat-stroked-button
          color="warn"
        >
          Cancel
        </button>
      </div>
    </mat-card>
  </div>

  <div class="content" *ngFor="let item of list">
    <mat-card class="example-card mat-elevation-z8">
      <mat-card-title>{{ item.title }}</mat-card-title>
      <p>Date to finish: {{ item.dateToFinishTask }}</p>
      <mat-card-subtitle>{{ item.description }}</mat-card-subtitle>

      <div class="actions">
        <button
          class="complete-button"
          (click)="finishTask(item)"
          mat-mini-fab
          color="primary"
        >
          <mat-icon>done</mat-icon>
        </button>
        <button routerLink="update/{{ item.id }}" mat-mini-fab color="accent">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="delete(item.id)" mat-mini-fab color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>
