.container {
  width: 75%;
  margin: auto;
}

.badge {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge button {
  margin: auto;
  width: 100%;
}

.content {
  width: 100%;
}

.finished-tasks {
  text-align: center;
  height: 50px;
  width: 100%;
  margin-top: 4rem;
  background: white;
  color: black;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  background: linear-gradient(
    45deg,
    #ffc8b241,
    rgba(38, 0, 143, 0.288),
    #ff935580
  );
  border-radius: 16px;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(1, 12, 167, 0.664));
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  color: aliceblue;
}

.finished-tasks:hover {
  transition-duration: 2s;
  background-color: rgba(227, 212, 255, 0.904);
}

.mat-badge-content {
  background: white;
  color: black;
}

.new-task {
  height: 50px;
  width: 100%;
  margin-top: 1rem;
  background: white;
  color: black;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  background: linear-gradient(
    45deg,
    #ffc8b241,
    rgba(38, 0, 143, 0.288),
    #ff935580
  );
  border-radius: 16px;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(1, 12, 167, 0.445));
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  color: aliceblue;
}

.new-task:hover {
  transition-duration: 2s;
  background-color: rgba(227, 212, 255, 0.904);
}

mat-card {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  padding-top: 2rem;
  padding-left: 2rem;
  background: linear-gradient(
    270deg,
    #ffc8b241,
    rgba(38, 0, 143, 0.288),
    #ff935580
  );
  border-radius: 30px;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(1, 12, 167, 0.445));
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(7.3px);
  color: aliceblue;
}

p {
  color: aliceblue;
  padding: auto;
  font-weight: 300;
}

mat-card-subtitle {
  color: aliceblue;
}

.actions {
  text-align: end;
  margin: 10px;
}

.actions button {
  color: rgb(255, 223, 174);
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: rgba(95, 159, 255, 0);
  border-radius: 20px;
  backdrop-filter: blur(12.4px);
  -webkit-backdrop-filter: blur(12.4px);
}

.actions button :hover {
  transition-duration: 800ms;
  color: aliceblue;
}
