<div class="container">
  <div class="badge mat-elevation-z8">
    <button (click)="navigateToFinishedTasks()" mat-stroked-button color="primary" matBadge="{{ closed }}">
      Finished Tasks
    </button>
  </div>
  <button class="new-task mat-elevation-z8" mat-stroked-button color="primary">
    New Task
  </button>

  <div class="content" *ngFor="let item of list">
    <mat-card class="example-card mat-elevation-z8">
      <p>Date to finish: {{ item.dateToFinishTask }}</p>
      <mat-card-header>
        <mat-card-title>{{ item.title }}</mat-card-title>
        <mat-card-subtitle>{{ item.description }}</mat-card-subtitle>
      </mat-card-header>

      <div class="actions">
        <button mat-mini-fab color="primary">
          <mat-icon>done</mat-icon>
        </button>
        <button mat-mini-fab color="accent">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="delete(item.id)" mat-mini-fab color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>
