.container {
  width: 75%;
  margin: auto;
}

.badge {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge button {
  margin: auto;
  width: 100%;
}

.content {
  width: 100%;
}

.new-task-container mat-card{
  margin-top: 1rem;
  background: white;
  color: black;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  background: linear-gradient(
    270deg,
    #2f288d41,
    rgba(143, 21, 0, 0.137),
    #ff555580
  );
  -webkit-filter: drop-shadow(5px 5px 50px rgba(255, 158, 68, 0));
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(7.3px);
  color: aliceblue;
} 

.finished-tasks {
  text-align: center;
  height: 50px;
  width: 100%;
  margin-top: 4rem;
  background: white;
  color: black;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  background: linear-gradient(
    270deg,
    #2f288d41,
    rgba(143, 21, 0, 0.137),
    #ff555580
  );
  -webkit-filter: drop-shadow(5px 5px 50px rgba(255, 158, 68, 0.87));
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(7.3px);
  color: aliceblue;
}

.finished-tasks:hover {
  transition-duration: 2s;
  background-color: rgba(255, 255, 255, 0.082);
}

mat-datepicker-toggle {
  color: rgba(240, 248, 255, 0.815);
}

mat-hint {
  color: rgba(240, 248, 255, 0.815);
}

mat-label {
  color: rgba(240, 248, 255, 0.815);
}

.form-title {
  width: 60%;
}

.form-description {
  width: 80%;
}

.mat-badge-content {
  background: white;
  color: black;
}

.buttons button {
  color: rgb(255, 223, 174);
  justify-content: center;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  border-radius: 10px;
  border: 0;
  background-color: transparent;
  border-radius: 30px;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(255, 158, 68, 0));
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(7.3px);
}

mat-card {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  padding-top: 2rem;
  padding-left: 2rem;
  background: linear-gradient(
    270deg,
    #2f288d41,
    rgba(143, 21, 0, 0.137),
    #ff555580
  );
  border-radius: 30px;
  -webkit-filter: drop-shadow(5px 5px 50px rgba(255, 158, 68, 0.87));
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(7.3px);
}

p {
  color: rgb(255, 223, 174);
  padding: auto;
  font-weight: 300;
}

mat-card-title {
  color: aliceblue;
}

mat-card-subtitle {
  color: aliceblue;
}

.actions {
  text-align: end;
  margin: 10px;
}

.actions button {
  color: rgb(255, 223, 174);
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: rgba(95, 159, 255, 0);
  border-radius: 20px;
  backdrop-filter: blur(12.4px);
  -webkit-backdrop-filter: blur(12.4px);
}

.actions button :hover {
  transition-duration: 800ms;
  color: aliceblue;
}
