.container {
  width: 75%;
  margin: auto;
}

.badge {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge button {
  margin: auto;
  width: 100%;
}

.content {
  width: 100%;
}

.finished-tasks {
  height: 50px;
  width: 100%;
  margin-top: 1rem;
  background: white;
  color: black;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.425);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(151, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  color: aliceblue;
}

.finished-tasks:hover {
  background-color: rgba(0, 0, 0, 0.692);
}

.mat-badge-content {
  background: white;
  color: black;
}

.new-task {
  height: 50px;
  width: 100%;
  margin-top: 1rem;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 10px;
  border: 0;
  background: rgba(0, 0, 0, 0.425);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(151, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  color: aliceblue;
}

.new-task:hover {
  background-color: rgba(0, 0, 0, 0.692);
}

mat-card {
  margin-top: 0.8rem;
  padding: 0.2rem;
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.425);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(151, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  color: aliceblue;
}

p {
  text-align: end;
  font-weight: 300;
  color: rgb(151, 146, 146);
  margin-bottom: 0;
}

.actions {
  text-align: end;
  margin: 10px;
  
}

.actions button {
  background-color: aliceblue;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.39);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.4px);
  -webkit-backdrop-filter: blur(12.4px);
}
