.container {
  width: 75%;
  margin: auto;
  margin-top: 4rem;
}

mat-card {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  padding-top: 2rem;
  padding-left: 2rem;
  background: linear-gradient(
    270deg,
    #2f288d41,
    rgba(143, 21, 0, 0.137),
    #ff555580
  );
  border-radius: 30px;
  -webkit-filter: drop-shadow(5px 5px 50px #2f288d41);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(7.3px);
}

mat-card-title {
  color: aliceblue;
}

mat-datepicker-toggle {
  color: rgba(240, 248, 255, 0.815);
}

mat-hint {
  color: rgba(240, 248, 255, 0.815);
}

mat-label {
  color: rgba(240, 248, 255, 0.815);
}

.form-title {
  width: 60%;
  color: aliceblue;
}

.form-description {
  width: 95%;
  size: 200px;
  color: aliceblue;
}

.buttons button {
 color: #fff3e8;
  justify-content: center;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  border-radius: 10px;
  border: 0;
  background-color: transparent;
  border-radius: 30px;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(255, 158, 68, 0));
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(7.3px);
}
