/* You can add global styles to this file, and also import other style files */
html,
body {
  background: url("assets/img/background.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: moveIt 200s linear infinite;
}

@keyframes moveIt {
  from {
    background-position: bottom left;
  }
  to {
    background-position: top right;
  }
}

::-webkit-scrollbar {
  color: black;
  width: 10px;
  background: linear-gradient(to bottom, #2f288db4 50%, #ff55559f 99%);
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #2f288db4;
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgba(214, 46, 34, 0.582);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
