img {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
  filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
  height: 5rem;
}

.header {
  margin: auto;
  width: 75%;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  background: linear-gradient(
    to right,
    rgba(255, 166, 93, 0.575),
    rgba(95, 159, 255, 0.486),
    rgba(255, 166, 93, 0.575)
  );
  -webkit-filter: drop-shadow(5px 5px 5px rgba(69, 76, 170, 0.445));
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(7.3px);
  color: aliceblue;
}

span {
  display: flex;
  align-items: center;
}

h1 {
  display: flex;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1.2rem;
  font-size: 2rem;
  color: aliceblue;
}
