.header {
  height: 100px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  background-color: transparent;
  border-radius: 16px;
  color: aliceblue;
  
}

h1 {
  margin-left: 10px;
}

.clock {
  color: #ffe9d3;
  margin-right: 10px;
  border-radius: 16px;
  padding: 10px;
  background: linear-gradient(
    300deg,
    #2f288d69 40%,
    #ff55555e 90%
  );
  -webkit-filter: drop-shadow(5px 5px 50px rgba(255, 158, 68, 0.87));
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(7.3px);
}

img {
  -webkit-filter: drop-shadow(5px 5px 10px rgb(14, 17, 63));
  margin-left: 6rem;
  margin-top: 5rem;
  width: 200px;
  height: 200px;
}