.bottom {
  display: flex;
  justify-content: center;
  color: aliceblue;
  width: 40%;
  margin: auto;
}

.bottom span {
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  border-radius: 16px;
  margin: 2rem 0 1rem 0;
}
.bottom :any-link {
  color: aliceblue;
}
